<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <header class="fondo">
        <img src ="./images/logo.png" alt="logo" class="logo">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="home">
        <section class="producto">
            <article class="venta"> 
             <img class="tel" src ="./images/img-phone-01.jpg" alt="img-phone-01">
             <h3 class="descripcion">Nombre del producto</h3>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
            </article>
        
            <article class="venta"> 
             <img class="tel" src ="./images/img-phone-02.jpg" alt="img-phone-02">
             <h3 class="descripcion">Nombre del producto</h3>
             <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
            </article>

            <article class="venta">
        <img class="tel" src ="./images/img-phone-03.jpg" alt="img-phone-03">
        <h3 class="descripcion">Nombre del producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
            </article>


             <article class="venta"> 
        <img class="tel" src ="./images/img-phone-01.jpg" alt="img-phone-01">
        <h3 class="descripcion">Nombre del producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
            </article>

             <article class="venta"> 
        <img class="tel" src ="./images/img-phone-02.jpg" alt="img-phone-02">
        <h3 class="descripcion">Nombre del producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
             </article>

             <article class="venta"> 
        <img class="tel" src ="./images/img-phone-03.jpg" alt="img-phone-03">
        <h3 class="descripcion">Nombre del producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto excepturi quod omnis quae beatae nam nihil exercitationem dolorum</p>
             </article>
        </section>
   
        <h2 class="tuto">Tutoriales</h2>
        <article class="tutoriales">
        <img class="tutoimg" src ="./images/aside-01.jpg" alt="aside-01">
        <h4 class="descripciontuto">Titulo del tutorial de reparacion</h4>
        </article>
        <article class="tutoriales">
        <img class="tutoimg" src ="./images/aside-02.jpg" alt="aside-02">
        <h4 class="descripciontuto">Titulo del tutorial de reparacion</h4>
        </article>
        <article class="tutoriales">
        <img class="tutoimg" src ="./images/aside-03.jpg" alt="aside-03">
        <h4 class="descripciontuto">Titulo del tutorial de reparacion</h4>
        </article>
        <article class="tutoriales">
        <img class="tutoimg" src ="./images/aside-04.jpg" alt="aside-04">
        <h4 class="descripciontuto">Titulo del tutorial de reparacion</h4>
        </article>


        <h2 class="tuto">Publicidad</h2>
        <img class="publicidad-img" src ="./images/ad-01.jpg" alt="ad-01">
        <img class="publicidad-img" src ="./images/ad-02.jpg" alt="ad-02">

    </main>    
</body>
</html>
